*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(galaxia.png);
    background-size: cover;
    
}
.container {
    position: absolute;
    display: flex;
    -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,transparent,#0004);
    
   
}
.container .box{
    position: center;
    width: 110px;
    height: 110px;
    filter: grayscale(1);
    animation: animateBg 0.5s linear infinite;
    animation-play-state: paused;
    transition: filter 1s;
    display: flex;
    justify-content: center;
    margin-left: 53px;
    border-width: 10px;
}
.container .box:nth-child(2){
    width: 110px;
    height: 110px;
    margin-left: 100px;
    
}


.container .box:hover{
    animation-play-state: running;
    filter: grayscale(0);
}
@keyframes animateBg{
    0%{
        background-position: 0;
    }
    100%
    {
        background-position: 40px;
    }
}
.container .box img{
    position: absolute;
    bottom: 0;
    height: 90%;
    transition: height 0.5s;
    border-radius: 8px;
}
.container .box:hover img {
    height: 120px;
}
a{
    color: white;
    margin-top: 150px;
    text-decoration: none;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background: rgba(172, 166, 166, 0.226);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    text-decoration: none;
    transition: background 0.2s;
}
.container .box:nth-child(2) a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background: rgba(172, 166, 166, 0.226);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    text-decoration: none;
    transition: background 0.2s;
    
    
}
.file img{
  position: relative;
  display: flex;
  width: 50px;
  height: 50px;
  left: -775px;
  margin-top: -255px;
  border-radius: 50%;
}
